################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VB_Net_Sample/obj/x86/Debug
*.suo
